<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="__PUBLIC__/select-vue.js"></script>
    <script src="__PUBLIC__/utils.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/index.css">
    <script>
        var goods_path = '{:U("Goods/index")}'
        var band_selectall_path = '{:U("Band/selectall")}';
        var good_update_path = '{:U("Goods/update")}'
    </script>
</head>
<body>
<div id="body">
    id:{{good.id}}<br>
    band:
    <select v-model="good.band.id">
        <option :value="item.id" v-for="item in bands">
            {{item.id}}--{{item.name}}
        </option>
    </select><br>
    goods_intro:
    good_name:
    <input type="text" v-model="good.goods_intro.name">
    <br>

    good_content:
    <input type="text" v-model="good.goods_intro.content">
    <br>

    good_price:
    <input type="text" v-model="good.goods_intro.price">
    <br>

    <button @click="update">update</button>
</div>
<script>
    new Vue({
        el: '#body',
        mounted: function () {
            this.init()
        },
        methods: {
            update: function () {
                post1(good_update_path, {json:this.good}).done(function (res) {
                    goto(goods_path)
                })
            },
            init: function () {
                var me = this;
                post1(band_selectall_path,).done(function (res) {
                    me.bands = json_parse(res);
                })
            }
        },
        data: function () {
            return {
                bands: [],
                good: {$good}
            }
        }
    })
</script>
</body>
</html>