<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>area</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="__PUBLIC__/select-vue.js"></script>
    <script src="__PUBLIC__/utils.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/index.css">
</head>
<body>
<div id="body">
    <button @click="add">增加</button>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>action</th>
        </tr>
        <tr v-for="row in all">
            <td>{{row['id']}}</td>
            <td>{{row['name']}}</td>
            <td>
                <button @click="update(row)">修改</button>
                <button @click="delete1(row)">删除</button>
            </td>
        </tr>
    </table>
</div>

<script>
    new Vue({
        el: '#body',
        mounted: function () {
            this.init();
        },
        data: function () {
            return {
                all: [],
                params: {
                    id: '',
                    name: ''
                }
            }
        },
        methods: {
            init: function () {
                var me = this;
                $.post('{:U("Area/selectAll")}').done(function (res) {
                    me.all = JSON.parse(res);
                })
            },
            delete1: function (item) {
                $.post('{:U("Area/delete")}', item).done(function (res) {
                    me.all = JSON.parse(res);
                })
            },
            update: function (row) {
                document.location.href = '{:U("Area/edit")}' + '?id=' + row.id;
            },
            add: function () {
                document.location.href = '{:U("Area/addshow")}';
            }
        }
    })
</script>
</body>
</html>